<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Finanzas</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <link href="https://kendo.cdn.telerik.com/themes/7.0.2/default/default-main.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.3.1114/mjs/kendo.all.js" type="module"></script>
    <script src="../static/js/kendo-ui-license.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="\finanzas">Finanzas</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Configuración</a></li>
                    <li><a class="dropdown-item" href="#!">Actividad</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="login">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Centro</div>
                        <a class="nav-link" href="finanzas">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Finanzas
                        </a>
                        <div class="sb-sidenav-menu-heading">Administración</div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Admin
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static">Usuarios</a>
                                <a class="nav-link" href="layout-sidenav-light">Permisos</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Pages
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">
                                    Authentication
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="login">Login</a>
                                        <a class="nav-link" href="register">Register</a>
                                        <a class="nav-link" href="password">Forgot Password</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseError" aria-expanded="false"
                                    aria-controls="pagesCollapseError">
                                    Error
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="401">401 Page</a>
                                        <a class="nav-link" href="404">404 Page</a>
                                        <a class="nav-link" href="500">500 Page</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Registro</div>
                        <a class="nav-link" href="charts">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Resumen
                        </a>
                        <a class="nav-link" href="tables">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Proveedores
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Usuario:</div>
                    {{ user }}
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center">
                        <h1 class="mt-4 me-2">Dashboard</h1>
                        <div class="spinner-border" role="status" id="loading-spinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <div class="alert alert-light" id="cargando" role="alert">
                            Cargando espere un momento...
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Editar Costos de servicio</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <!-- Button Edit -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#modalEdit">
                                        Editar
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Agregar nuevo intervalo</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <!-- Button Add -->
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#modalAdd">
                                        Agregar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Mostrar intervalos</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <!-- Show Add -->
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#modalShow">
                                        Mostrar
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Danger Card</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if crear_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error en el formulario:</strong>
                        {% for field, error_list in crear_form.errors.items %}
                        {{ field }}:
                        {% for error in error_list %}
                        {{ error }}
                        {% endfor %}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}

                    <div class="alert alert-success" role="alert" id="mensajeExito" style="display: none;">
                        <strong>¡Intervalo actualizado con éxito!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    {% if messages %}
                    <div class="alert alert-success" role="alert">
                        <strong>Exitoso</strong>
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            DataTable Finanzas
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table cell-border hover display nowrap" id="datatablesSimpleFinanzas">
                                    <thead>
                                        <tr>
                                            <th>TIPO</th>
                                            <th>FOLIO</th>
                                            <th>FECHA DE ATENCION</th>
                                            <th>CLIENTE</th>
                                            <th>SITIO</th>
                                            <th>SITE ID TELMEX</th>
                                            <th>CIUDAD</th>
                                            <th>ESTADO</th>
                                            <th>PROVEEDOR IDC's</th>
                                            <th>COORDINADOR IDC</th>
                                            <th>HORA LLEGADA A SITIO</th>
                                            <th>HORA DE INGRESO A SUCURSAL</th>
                                            <th>HORA FRENTE EQUIPOS</th>
                                            <th>HORA DE SALIDA</th>
                                            <th>TIEMPO EN SITIO</th>
                                            <th>STATUS</th>
                                            <th>Costo servicio</th>
                                            <th>Costo recoleccion</th>
                                            <th>VIATICOS</th>
                                            <th>Costo herramienta</th>
                                            <th>TOTAL</th>
                                            <th>SERVICIO PAGADO</th>
                                            <th>VIATICO PAGADO</th>
                                            <th>RECOLECCION PAGADA</th>
                                            <th>HERRAMIENTA</th>
                                            <th>TOTAL PAGADO</th>
                                            <th>PENALIZACION</th>
                                            <th>OBSERVACION</th>
                                            <th>POR PAGAR</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                        <tr>
                                            <td>{{ row.TIPO }}</td>
                                            <td>{{ row.FOLIO }}</td>
                                            <td>{{ row.FECHA_DE_ATENCION }}</td>
                                            <td>{{ row.CLIENTE }}</td>
                                            <td>{{ row.SITIO }}</td>
                                            <td>{{ row.SITE_ID_TELMEX }}</td>
                                            <td>{{ row.CIUDAD }}</td>
                                            <td>{{ row.ESTADO }}</td>
                                            <td>{{ row.PROVEEDOR_IDCs }}</td>
                                            <td>{{ row.COORDINADOR_IDC }}</td>
                                            <td>{{ row.HORA_LLEGADA_A_SITIO }}</td>
                                            <td>{{ row.HORA_DE_INGRESO_A_SUCURSAL }}</td>
                                            <td>{{ row.HORA_FRENTE_EQUIPOS }}</td>
                                            <td>{{ row.HORA_DE_SALIDA }}</td>
                                            <td>{{ row.TIEMPO_EN_SITIO }}</td>
                                            <td>{{ row.STATUS }}</td>
                                            <td>{{ row.Costo_servicio }}</td>
                                            <td>{{ row.Costo_recoleccion }}</td>
                                            <td>{{ row.VIATICOS }}</td>
                                            <td>{{ row.Costo_herramienta }}</td>
                                            <td>{{ row.TOTAL }}</td>
                                            <td>{{ row.SERVICIO_PAGADO }}</td>
                                            <td>{{ row.VIATICO_PAGADO }}</td>
                                            <td>{{ row.RECOLECCION_PAGADA }}</td>
                                            <td>{{ row.HERRAMIENTA }}</td>
                                            <td>{{ row.TOTAL_PAGADO }}</td>
                                            <td>{{ row.PENALIZACION }}</td>
                                            <td>{{ row.OBSERVACION }}</td>
                                            <td>{{ row.POR_PAGAR }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- Modal Editar -->
        <div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edición de costos de servicios</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% for intervalo in intervalos_tiempo %}
                        <div class="row justify-content-around">
                            <div class="col">
                                <ul>
                                    <li><strong>Hora de inicio:</strong> {{ intervalo.hora_inicio|date:'H:i:s' }}</li>
                                    <li><strong>Hora fin:</strong> {{ intervalo.hora_fin|date:'H:i:s' }}</li>
                                    <li><strong>Costo de servicio:</strong> {{ intervalo.costo_servicio }}</li>
                                </ul>
                            </div>
                            <div class="col align-self-center text-center">
                                <button class="btn btn-primary btn-block" data-bs-target="#modalEdit2"
                                    data-bs-toggle="modal" onclick="editarIntervalo({{ intervalo.id }})">Editar</button>
                            </div>
                        </div>
                        <hr> <!-- Separador -->
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalEdit2" aria-hidden="true" aria-labelledby="modalEditLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalEditToggleLabel2">Modal 2</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Agrega un formulario de edición al mismo HTML -->
                        <div class="cs-form">
                            <form id="editarIntervaloForm">
                                <label for="id_hora_inicio_edit">Hora de inicio:</label>
                                <input type="text" id="id_hora_inicio_edit" name="hora_inicio_edit" required>

                                <label for="id_hora_fin_edit">Hora de fin:</label>
                                <input type="text" id="id_hora_fin_edit" name="hora_fin_edit" required>

                                <label for="id_costo_servicio_edit">Costo de servicio:</label>
                                <input class="form-control" type="number" id="id_costo_servicio_edit"
                                    name="costo_servicio_edit" step="0.01" required>

                                <button class="btn btn-primary" onclick="guardarEdicionIntervalo()">Guardar
                                    Cambios</button>
                            </form>
                        </div>
                    </div>
                    <div class=" modal-footer">
                        <button class="btn btn-primary" data-bs-target="#modalEdit" data-bs-toggle="modal">Volver a
                            edición</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Crear -->
        <div class="modal fade" id="modalAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalAddLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalAddLabel">Crear nuevo intervalo de tiempo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="cs-form">
                            <form method="post">
                                {% csrf_token %}
                                {{ crear_form.as_p }}
                                {% for error in crear_form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                                <button type="submit" class="btn btn-primary">Crear intervalo</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Show -->
        <div class="modal fade" id="modalShow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalShowLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalShowLabel">Todos los intervalos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for intervalo in intervalos_tiempo %}
                            <li>{{ intervalo.hora_inicio }} - {{ intervalo.hora_fin }}: {{ intervalo.costo_servicio }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>

    <script src="../static/js/scripts.js"></script>

    <script src="../static/js/dataTable-finanzas.js"></script>
    <!-- <script src="../static/js/dataTable-finanzas.js"></script> -->

    <!-- Script para mostrar/ocultar el spinner -->
    <script>
        $(document).ready(function () {
            // Oculta el spinner cuando la página ha terminado de cargarse completamente
            $("#loading-spinner").addClass("d-none");
            $("#cargando").addClass("d-none");

            // Configuración para ambos formularios
            $(".time-duration-picker").kendoTimeDurationPicker({
                separator: " : ",
                columns: [
                    { name: "hours", format: "## Hora", min: 0, max: 24 },
                    { name: "minutes", format: "## Minutos", min: 0, max: 50, step: 5 },
                    { name: "seconds", format: "## Segundos", min: 0, max: 60, step: 10 }
                ]
            });
        });
    </script>

    <script>

        // Función para convertir cadena de hora (HH:mm:ss) a milisegundos
        function convertirHoraAMilisegundos(hora) {
            var partes = hora.split(':');
            var horas = parseInt(partes[0], 10) || 0;
            var minutos = parseInt(partes[1], 10) || 0;
            var segundos = parseInt(partes[2], 10) || 0;

            return horas * 3600000 + minutos * 60000 + segundos * 1000;
        }

        // Función para inicializar o destruir kendoTimeDurationPicker con valores específicos
        function manejarKendoTimeDurationPicker(id, valorInicial) {
            var picker = $("#" + id).data("kendoTimeDurationPicker");
            if (picker) {
                // Destruir la instancia existente si existe
                picker.destroy();
            }

            // Inicializar kendoTimeDurationPicker para los campos de hora de inicio y fin
            $("#" + id).kendoTimeDurationPicker({
                columns: ["hours", "minutes"],
                // Puedes ajustar los shortcuts según tus necesidades
                shortcuts: [
                    { text: "1h 30min", value: 5400000 }
                ],
                value: convertirHoraAMilisegundos(valorInicial)  // Convierte la cadena a milisegundos
            });
        }

        var intervaloIdEnEdicion;

        function editarIntervalo(intervaloId) {
            // Hacer una solicitud AJAX para obtener los datos del intervalo
            $.ajax({
                url: `/api/intervalo-tiempo-detail/${intervaloId}/`,
                method: 'GET',
                success: function (data) {
                    // Llenar el formulario con los datos recibidos
                    $('#id_hora_inicio_edit').val(data.hora_inicio);
                    $('#id_hora_fin_edit').val(data.hora_fin);
                    $('#id_costo_servicio_edit').val(data.costo_servicio);

                    console.log(data.hora_fin)
                    // Inicializar kendoTimeDurationPicker para los campos de hora de inicio y fin
                    manejarKendoTimeDurationPicker('id_hora_inicio_edit', data.hora_inicio);
                    manejarKendoTimeDurationPicker('id_hora_fin_edit', data.hora_fin);

                    // Abrir el modal de edición
                    $('#modalEdit').modal('show');

                    intervaloIdEnEdicion = intervaloId
                    console.log(intervaloId);
                },
                error: function (error) {
                    console.error('Error al obtener datos del intervalo:', error);
                }
            });
        }

        function guardarEdicionIntervalo(intervaloId) {
            // Obtener los datos del formulario de edición
            var horaInicio = $('#id_hora_inicio_edit').val();
            var horaFin = $('#id_hora_fin_edit').val();
            var costoServicio = $('#id_costo_servicio_edit').val();

            console.log(intervaloId);
            // Crear un objeto con los datos del formulario
            var datosEdicion = {
                hora_inicio: horaInicio,
                hora_fin: horaFin,
                costo_servicio: costoServicio
            };

            if (intervaloIdEnEdicion !== undefined && intervaloIdEnEdicion !== null) {
                // Hacer lo que necesitas con intervaloIdEnEdicion
                console.log('ID del intervalo en edición:', intervaloIdEnEdicion);
                // Hacer una solicitud AJAX para actualizar el intervalo
                $.ajax({
                    url: `/api/intervalo-tiempo-detail/${intervaloIdEnEdicion}/`,
                    method: 'PUT',
                    data: datosEdicion,
                    success: function (data) {
                        console.log('Intervalo actualizado con éxito:', data);

                        // Cerrar todos los modales usando Bootstrap 5
                        $('#modalEdit').modal('hide');
                        $('#modalEdit2').modal('hide');

                        // Obtener la referencia a la alerta de éxito
                        var alertaExito = $('#mensajeExito');

                        // Obtener la referencia al contenido de la alerta de éxito
                        var contenidoMensajeExito = $('#contenidoMensajeExito');

                        // Modificar el contenido de la alerta
                        contenidoMensajeExito.text('¡Intervalo actualizado con éxito!');

                        // Añadir clases de Bootstrap para la alerta de éxito
                        alertaExito.removeClass('alert-danger').addClass('alert-success');

                        // Mostrar la alerta de éxito
                        alertaExito.fadeIn().delay(2300).fadeOut();
                    },
                    error: function (error) {
                        console.error('Error al actualizar el intervalo:', error);
                    }
                });
            }

        }
    </script>

</body>

</html>